# v3.200.35
name: VC build

on:
  workflow_call:
    outputs:
      dockerShortKey:
        value: ${{ jobs.build-artifacts.outputs.dockerShortKey }}
      dockerFullKey:
        value: ${{ jobs.build-artifacts.outputs.dockerFullKey }}
      packageShortKey:
        value: ${{ jobs.build-artifacts.outputs.packageShortKey }}
      packageFullKey:
        value: ${{ jobs.build-artifacts.outputs.packageFullKey }}
      artifactName:
        value: ${{ jobs.build-artifacts.outputs.artifactName }}
      dockerTar:
        value: ${{ jobs.build-artifacts.outputs.dockerTar }}

    inputs:
      uploadPackage:
        required: false
        type: string
        default: 'false'
      uploadDocker:
        required: false
        type: string
        default: 'false'
      dockerFiles:
        required: false
        type: string
        default: 'https://raw.githubusercontent.com/VirtoCommerce/vc-docker/feat/net6/linux/platform/Dockerfile;https://raw.githubusercontent.com/VirtoCommerce/vc-docker/master/linux/platform/wait-for-it.sh'
      imageName:
        required: false
        type: string
        default: 'platform'
      forceVersionSuffix:
        required: false
        type: string
        default: 'true'
      incrementPatch:
        required: false
        type: string
        default: 'false'

    secrets:
      envPAT:
        required: true

jobs:
  build-artifacts:
    runs-on: ubuntu-20.04
    env:
      DOCKER_TAR: 'image.tar'
      ARTIFACT_NAME: ${{ github.event.repository.name }}
      IMAGE_NAME: ${{ inputs.imageName }}
      IMAGE_TAG: ''
      GITHUB_TOKEN: ${{ secrets.envPAT }}
      FETCH_DEPTH: 1
      VERSION_SUFFIX: ''
      MSBuildEnableWorkloadResolver: 'false'
    outputs:
      dockerShortKey: ${{ steps.cache-key.outputs.dockerShortKey }}
      dockerFullKey: ${{ steps.cache-key.outputs.dockerFullKey }}
      packageShortKey: ${{ steps.cache-key.outputs.packageShortKey }}
      packageFullKey: ${{ steps.cache-key.outputs.packageFullKey }}
      dockerTar: ${{ env.DOCKER_TAR }}
      artifactName: ${{ env.ARTIFACT_NAME }}

    steps: 

    - name: Set up Node 18
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: Install VirtoCommerce.GlobalTool
      uses: VirtoCommerce/vc-github-actions/setup-vcbuild@master

    - name: Set FETCH_DEPTH variables
      if: ${{ inputs.forceVersionSuffix == 'true' }}
      run: |
        echo "FETCH_DEPTH=0" >> $GITHUB_ENV

    - uses: actions/checkout@v3
      with:
        fetch-depth: ${{ env.FETCH_DEPTH }}

    - name: Increment Patch Version
      if: ${{ inputs.incrementPatch == 'true' }}
      run: |
        vc-build IncrementPatch

    - name: Get Artifact Version
      uses: VirtoCommerce/vc-github-actions/get-image-version@master
      id: artifactVer

    - name: Set IMAGE_TAG variables
      run: |
        echo "IMAGE_TAG=${{ steps.artifactVer.outputs.prefix }}" >> $GITHUB_ENV

    - name: Set VERSION_SUFFIX variables
      if: ${{ inputs.forceVersionSuffix == 'true' }}
      run: |
        if [ '${{ github.event_name }}' == 'workflow_dispatch' ]; then
          echo "VERSION_SUFFIX=${{ steps.artifactVer.outputs.fullSuffix }}" >> $GITHUB_ENV
        else
          echo "VERSION_SUFFIX=${{ steps.artifactVer.outputs.suffix }}" >> $GITHUB_ENV
        fi;
        echo "IMAGE_TAG=${{ steps.artifactVer.outputs.taggedVersion }}" >> $GITHUB_ENV

    - name: Add version suffix
      if: ${{ github.ref != 'refs/heads/master' || inputs.forceVersionSuffix == 'true'}}
      uses: VirtoCommerce/vc-github-actions/add-version-suffix@master
      with:
        versionSuffix: ${{ env.VERSION_SUFFIX }}

    - name: Packaging
      run: vc-build Compress+Pack -skip Test

    - name: Get cache key
      uses: VirtoCommerce/vc-github-actions/cache-get-key@master
      id: cache-key
      with:
        runnerOs: ${{ runner.os  }}
        artifactName: ${{ env.ARTIFACT_NAME }}

    - name: Cache build artifacts
      if: ${{ inputs.uploadPackage == 'true' }}
      uses: actions/cache@v3
      with:
        key: ${{ steps.cache-key.outputs.packageFullKey }}
        path: |
          ${{ github.workspace }}/artifacts
          ${{ github.workspace }}/publish

    - name: Build Docker Image
      if: ${{ inputs.uploadDocker == 'true' }}
      id: dockerBuild
      uses: VirtoCommerce/vc-github-actions/build-docker-image@master
      with:
        outputs: type=tar,dest=${{ github.workspace }}/${{ env.DOCKER_TAR }}
        imageName: ${{ env.IMAGE_NAME }}
        tag: ${{ env.IMAGE_TAG }}
        dockerFiles: ${{ inputs.dockerFiles }}

    - name: Save Docker to tar
      if: ${{ inputs.uploadDocker == 'true' }}
      run: |
        docker save -o ${{ env.DOCKER_TAR }} ${{ steps.dockerBuild.outputs.imageName }}

    - name: Cache Docker image
      if: ${{ inputs.uploadDocker == 'true' }}
      uses: actions/cache@v3
      with:
        key: ${{ steps.cache-key.outputs.dockerFullKey }}
        path: |
          ${{ env.DOCKER_TAR }}
