# v3.800.15
# https://virtocommerce.atlassian.net/browse/VCST-3725
name: Collect deprecation warnings

on:
  workflow_dispatch:
  push:
    branches:
      [VCST-2719]

jobs:
  collect-deprecation-warnings:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      actions: read
      issues: read
    env:
      TEAMS_WEBHOOK_URL: ${{ secrets.TEAMS_WEBHOOK_URL }}
      GITHUB_TOKEN: ${{ secrets.PAT_VCST_2719 }}
    steps:
      - name: Collect deprecation warnings
        id: collect-deprecation-warnings
        shell: pwsh
        run: |
          $repos = gh repo list VirtoCommerce --json name -q '.[].name'
          # [array]$repos = 'vc-platform', 'vc-build', 'vc-module-x-api'
          $fields = 'databaseId,name,conclusion'
          $result = @()
          # $skipValues = @('angular-cookies@1.8.3', 'angular-translate-loader-url@2.', 'glob@7.1.7')
          $skipValues = @('qwerty')

          foreach ($repo in $repos) {
              echo "Checking repo: $repo"
              $testAccess = gh api "repos/VirtoCommerce/$repo" --jq '.id'
              if ($LASTEXITCODE -ne 0) {
                  Write-Warning "Skipping $repo - no access or repo doesn't exist"
                  continue
              }
              [array]$runs = gh run list -R VirtoCommerce/$repo --limit 5 --json $fields | ConvertFrom-Json
              foreach ($run in $runs) {
                  $runId = "$($run.databaseId)"
                  $deprecationWarnings = gh run view $runId -R VirtoCommerce/$repo | Select-String -Pattern "deprecated"
                  if ($deprecationWarnings) {
                      foreach ($warning in $deprecationWarnings) {
                          $skip = $false
                          foreach ($skipValue in $skipValues) {
                              if ($warning.Line -match $skipValue) {
                                  # continue
                                  $skip = $true
                                  break
                              }
                          }
                          if (!$skip) {
                              $result += @{
                                  $run.name = @{
                                      "https://github.com/VirtoCommerce/$repo/actions/runs/$runId" = $warning.Line
                                  }
                              }
                          }
                      }
                  }
              }
              echo "Done"
          }
          if ($result) {
              echo $result | ConvertTo-Json -Depth 10 | Out-File -FilePath "$env:RUNNER_TEMP/deprecation-warnings.json"
              echo "result=true" >> $env:GITHUB_OUTPUT
          } else {
              Write-Output 'No deprecation warnings found'
              echo "result=false" >> $env:GITHUB_OUTPUT
          }
      
      - name: Display deprecation warnings
        if: ${{ steps.collect-deprecation-warnings.outputs.result == 'true' }}
        shell: pwsh
        run: |
          cat $env:RUNNER_TEMP/deprecation-warnings.json

      - name: Teams notification
        if: ${{ steps.collect-deprecation-warnings.outputs.result == 'true' }}
        uses: VirtoCommerce/vc-github-actions/publish-teams-webhook-notification@VCST-2719 # master
        with:
          teamsWebhookUrl: ${{ env.TEAMS_WEBHOOK_URL }}
          mentions: '@(@{id = "859369bc-81d3-498d-a3a8-ceba4dd6c8a4"; name = "Andrew.Kubyshkin" })'
          title: 'New deprecation warnings found'
          workflowName: ${{ github.workflow }}
          buildId: ${{ github.run_id }}
          githubRepo: '${{ github.repository }}'