# v3.200.35
name: VC deployment

on:
  workflow_call:
    inputs:
      argoServer:
        required: true
        default: 'argo.govirto.com'
        type: string
      artifactUrl: 
        required: true
        type: string
      matrix:
        description: 'Stringified JSON object listing target deployment parameters'
        default: '{"include":[{"envName": "dev", "confPath": ".deployment/demoManager/argoDeploy-marketplace.json"}]}'
        required: false
        type: string
      forceCommit:
        description: 'Create deployment commit instead of Pull request to a deployment repo'
        default: true
        required: false
        type: boolean
      taskNumber:
        description: 'Jira key for link commit'
        default: 'undefined'
        required: false
        type: string

    secrets:
      envPAT:
        required: true
      argoLogin:
        required: true
      argoPassword:
        required: true

jobs:
  Deploy:
    strategy:
      matrix:  ${{ fromJSON(inputs.matrix) }}

    runs-on: ubuntu-20.04
    env:
      GITHUB_TOKEN: ${{ secrets.envPAT }}
      ARGO_SERVER: ${{ inputs.argoServer }}
      SLEEP_TIME: '5m'

    steps: 
      - name: Read deployment config
        uses: VirtoCommerce/vc-github-actions/get-deploy-param@master
        id: deployConfig
        with:
          envName: ${{ matrix.envName }}
          deployConfigPath: ${{ matrix.confPath }}

      - name: Start deployment
        uses: bobheadxi/deployments@main
        id: deployment
        with:
          step: start
          token: ${{ env.GITHUB_TOKEN }}
          env: Development
          no_override: false

      - name: Update deployment-cm
        uses: VirtoCommerce/vc-github-actions/create-deploy-pr@master
        with:
          deployRepo: ${{ steps.deployConfig.outputs.deployRepo }}
          deployBranch: ${{ steps.deployConfig.outputs.deployBranch }}
          artifactKey: ${{ steps.deployConfig.outputs.artifactKey }}
          artifactUrl: ${{ inputs.artifactUrl }}
          taskNumber: ${{ inputs.taskNumber }}
          forceCommit: '${{ inputs.forceCommit }}'
          cmPath: ${{ steps.deployConfig.outputs.cmPath }}

      - name: Sleep for ${{ env.SLEEP_TIME }}
        if: ${{ inputs.forceCommit }}
        run: sleep ${{ env.SLEEP_TIME }}
        shell: bash

      - name: Wait for environment is up
        if: ${{ inputs.forceCommit }}
        timeout-minutes: 10
        uses: VirtoCommerce/vc-github-actions/vc-argocd-cli@master
        id: argocd-cli
        with:
          server: ${{env.ARGO_SERVER}}
          username: ${{ secrets.argoLogin }}
          password: ${{ secrets.argoPassword }}
          command: app wait ${{ steps.deployConfig.outputs.deployAppName }}

      - name: BUILD_STATE::successful
        if: success()
        run: echo "BUILD_STATE=successful" >> $GITHUB_ENV

      - name: BUILD_STATE::failed
        if: failure()
        run: echo "BUILD_STATE=failed"  >> $GITHUB_ENV

      - name: Update GitHub deployment status
        uses: bobheadxi/deployments@main
        if: always()
        with:
          step: finish
          token: ${{ env.GITHUB_TOKEN }}
          status: ${{ job.status }}
          env: ${{ steps.deployment.outputs.env }}
          deployment_id: ${{ steps.deployment.outputs.deployment_id }}