# v1.0.0
name: VC Publish Github release

on:
  workflow_call:
    outputs:
      downloadUrl: 
        value: '${{ jobs.publish-github.outputs.downloadUrl }}'
    inputs:
      shortKey:
        required: false
        type: string
        default: ''
      fullKey:
        required: true
        type: string
      changelog:
        required: true
        type: string

    secrets:
      envPAT:
        required: true
      nugetKey:
        required: true

jobs:
  publish-github:
    runs-on: ubuntu-latest
    env:
      NUGET_KEY: ${{ inputs.nugetKey }}
      GITHUB_TOKEN: ${{ inputs.envPAT }}
    outputs:
      downloadUrl: ${{ steps.githubRelease.outputs.downloadUrl }}

    steps: 

    - name: Install VirtoCommerce.GlobalTool
      uses: VirtoCommerce/vc-github-actions/setup-vcbuild@master

    - name: Get package from cache
      uses: actions/cache@v2
      id: restore-build
      with:
        key: ${{ inputs.fullKey }}
        restore-keys: ${{ inputs.shortKey }}
        path: |
          ${{ github.workspace }}/artifacts
          ${{ github.workspace }}/publish
          ${{ github.workspace }}/Directory.Build.props

    # - name: Publish Nuget
    #   uses: VirtoCommerce/vc-github-actions/publish-nuget@master

    - name: Publish Github Release
      id: githubRelease
      with:
        changelog: ${{ inputs.changelog }}
        skipString: 'Clean+Restore+Compile+WebPackBuild+Test+Publish+Compress'
      uses: VirtoCommerce/vc-github-actions/publish-github-release@PT-6460