# v3.800.11
# bump-ubuntu-version
name: Release workflow

on:
  workflow_call:
    inputs:
      patchVersion:
        type: boolean
        required: true
        default: false
        description: 'Issue patch version'
      versionPrefix:
        type: string
        required: false
        default: 'hotfix'
        description: 'Version prefix'
    secrets:
        envPAT:
          required: true

jobs:
  release:
    runs-on: ubuntu-24.04
    env:
      VCBUILD_DISABLE_RELEASE_APPROVAL: "true"
    steps:

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.envPAT }}

      # - name: Install VirtoCommerce.GlobalTool
      #   uses: VirtoCommerce/vc-github-actions/setup-vcbuild@master

      - name: Install vc-build
        run: 'dotnet tool install --global VirtoCommerce.GlobalTool --version 3.811.0-alpha.240'

      - name: Setup Git Credentials
        uses: VirtoCommerce/vc-github-actions/setup-git-credentials-github@master
        with: 
          githubToken: ${{ secrets.envPAT }}
      
      - name: Run vc-build QuickRelease
        shell: pwsh
        run: |
          $branchList = git branch --all --list '*/main'
          if ($Null -ne $branchList) {
            $branchMain = $branchList.Replace(' ','')
            if ($branchMain -eq 'remotes/origin/main') {
              $branchMain = 'main'
            }
          } else {
            $branchMain = 'master'
          }
          if ( "${{inputs.patchVersion}}" -eq "false" ){
            echo "Running QuickRelease"
            echo "patchVerson is ${{inputs.patchVersion}}"
            vc-build QuickRelease -MainBranch $branchMain
          } else {
            echo "Running vc-build IncrementPatch"
            vc-build IncrementPatch
            git add ${{ github.workspace }}/package.json
            git commit -m "ci: Auto IncrementPatch"
            git push
            # echo "Running QuickHotfix"
            # echo "patchVerson is ${{inputs.patchVersion}}"
            # echo "Comparison result is $("${{inputs.patchVersion}}" -eq "false")"
            # vc-build QuickHotfix -MainBranch $branchMain
          }
        
      - name: Increment Version
        run: |
          vc-build IncrementPatch
          git add ${{ github.workspace }}/package.json
          git commit -m "ci: Auto IncrementPatch"
          git push