name: Release workflow

on:
  workflow_call:
    secrets:
        envPAT:
          required: true

jobs:
  release:
    runs-on: ubuntu-latest
    environment: "Release Approve"
    steps:

      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          token: ${{ secrets.envPAT }}

      - name: Install VirtoCommerce.GlobalTool
        run: dotnet tool install --global VirtoCommerce.GlobalTool

      - name: Setup Git Credentials
        uses: VirtoCommerce/vc-github-actions/setup-git-credentials-github@master
        with: 
          githubToken: ${{ secrets.envPAT }}
      
      - name: Run vc-build QuickRelease
        run: vc-build QuickRelease -Force
