# v3.800.11
# bump-ubuntu-version
name: Release workflow

on:
  workflow_call:
    inputs:
      patchVersion:
        type: boolean
        required: true
        default: false
        description: 'Issue patch version'
      versionPrefix:
        type: string
        required: false
        default: 'hotfix'
        description: 'Issue patch version'
    secrets:
        envPAT:
          required: true

jobs:
  release:
    runs-on: ubuntu-24.04
    env:
      VCBUILD_DISABLE_RELEASE_APPROVAL: "true"
    steps:

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.envPAT }}

      # - name: Install VirtoCommerce.GlobalTool
      #   uses: VirtoCommerce/vc-github-actions/setup-vcbuild@master

      - name: Install vc-build
        run: 'dotnet tool install --global VirtoCommerce.GlobalTool --version 3.810.0-alpha.235'

      - name: Setup Git Credentials
        uses: VirtoCommerce/vc-github-actions/setup-git-credentials-github@master
        with: 
          githubToken: ${{ secrets.envPAT }}
      
      - name: Run vc-build QuickRelease
        shell: pwsh
        run: |
          $branchList = git branch --all --list '*/main'
          if ($Null -ne $branchList) {
            $branchMain = $branchList.Replace(' ','')
            if ($branchMain -eq 'remotes/origin/main') {
              $branchMain = 'main'
            }
          } else {
            $branchMain = 'master'
          }
          if ( ${{inputs.patchVersion}} -eq 'false'){
            echo "Running QuickRelease"
            vc-build QuickRelease -MainBranch $branchMain
          } else {
            echo "Running QuickHotfix"
            vc-build QuickHotfix -MainBranch $branchMain
          }
          