# v3.800.24
# https://virtocommerce.atlassian.net/browse/VCST-4487
name: Release workflow

on:
  workflow_call:
    secrets:
        envPAT:
          required: true

jobs:
  release:
    runs-on: ubuntu-24.04
    env:
      VCBUILD_DISABLE_RELEASE_APPROVAL: "true"
    steps:

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.envPAT }}

      - name: Install VirtoCommerce.GlobalTool
        uses: VirtoCommerce/vc-github-actions/setup-vcbuild@master

      - name: Setup Git Credentials
        uses: VirtoCommerce/vc-github-actions/setup-git-credentials-github@master
        with: 
          githubToken: ${{ secrets.envPAT }}
      
      - name: Run vc-build QuickRelease
        shell: pwsh
        run: |
          $branchList = git branch --all --list '*/main'
          if ($Null -ne $branchList) {
            $branchMain = $branchList.Replace(' ','')
            if ($branchMain -eq 'remotes/origin/main') {
              $branchMain = 'main'
            }
          } else {
            $branchMain = 'master'
          }
          vc-build QuickRelease -MainBranch $branchMain