# v1.0.0
name: VC Validate Swagger

on:
  workflow_call:
    inputs:
      imageArtifactName:
        required: true
        type: string
      dockerTar:
        required: true
        type: string

jobs:
  swagger-validation:
    runs-on: ubuntu-latest
    env:
      IMAGE_ARTIFACT_NAME: ${{ inputs.imageArtifactName }}
    steps: 

    - name: Download Docker image
      uses: actions/download-artifact@v2
      with:
        name: ${{ env.IMAGE_ARTIFACT_NAME }}

    - name: Load Docker image
      run: |
        ls -l
        docker load --input ${{ inputs.dockerTar}}
        docker image ls -a