# v3.200.25
name: VC unit test and sonar scan

on:
  workflow_call:
    secrets:
      sonarToken:
        required: true

jobs:
  test-and-sonar:
    runs-on: ubuntu-20.04
    env:
      SONAR_TOKEN: ${{ secrets.sonarToken }}
      MSBuildEnableWorkloadResolver: 'false'
  
    steps: 

    - name: Install VirtoCommerce.GlobalTool
      uses: VirtoCommerce/vc-github-actions/setup-vcbuild@master
    
    - name: Install dotnet-sonarscanner
      run: dotnet tool install --global dotnet-sonarscanner

    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Get Artifact Version
      uses: VirtoCommerce/vc-github-actions/get-image-version@master
      id: artifactVer

    - name: Set VERSION_SUFFIX variables
      run: |
          echo "VERSION_SUFFIX=${{ steps.artifactVer.outputs.suffix }}" >> $GITHUB_ENV
 
    - name: Add version suffix
      if: ${{ github.ref != 'refs/heads/master' }}
      uses: VirtoCommerce/vc-github-actions/add-version-suffix@master
      with:
        versionSuffix: ${{ env.VERSION_SUFFIX }}


    - name: SonarCloud Begin
      uses: VirtoCommerce/vc-github-actions/sonar-scanner-begin@master

    - name: Build
      run: vc-build Compile

    - name: Unit Tests
      run: vc-build Test -skip

    - name: SonarCloud End
      uses: VirtoCommerce/vc-github-actions/sonar-scanner-end@master

    - name: Quality Gate
      uses: VirtoCommerce/vc-github-actions/sonar-quality-gate@master
      with:
        login: ${{ env.SONAR_TOKEN }}
